.App {
  display: flex;
  align-items: center;
  justify-content: center; 
} 

/* for media responsiveness */
@media only screen and (max-width: 800px) {
	.Joke {
    display: flex;
    align-items: left;
    justify-content: left;
    font-weight: 400;
    padding: 10vw;
    margin-left: -.5em;
  }
  .Joke-text {
    width: 50vw;
    font-size: 1em;
  }
  .JokeList-btn2 {
    margin-left: 0vw;
  } 
}

